<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">
    <title>Editar Tutor</title>
</head>
<body>
    <section th:fragment="editarTutor">
        <form th:action="@{/guardarTutor}" method="post" th:object="${Tutor}" class="was-validated"><!-- th relaciona lo que se cree en un objeto de tipo padministrator-->
            <input type="hidden" name="id_tutor" th:field="*{id_tutor}"/> <!--acceder al atributo de tipo administrator -->
            <section th:replace="layout/botonesEditarTutor :: botonesEditarTutor"></section>
            <div id="details">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                 <div class="card-header">
                                     <h4> [[#{accion.editar}]]</h4>
                                 </div>
                                 <div class="card-body">
                                     <div class="form-group">
                                        <label for="tutorName">[[#{actor.name}]]</label>
                                        <input type="text" class="form-control" name="tutorName" required="true" th:field="*{tutorName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="tutorLastName">[[#{actor.lastName}]]</label>
                                        <input type="text" class="form-control" name="tutorLastName" required="true" th:field="*{tutorLastName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">[[#{actor.email}]]</label>
                                        <input type="email" class="form-control" name="email" required="true" th:field="*{email}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="pw">[[#{actor.pw}]]</label>
                                        <input type="text" class="form-control" name="pw" required="true" th:field="*{pw}"/>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </form> 
    </section>
    
</body>
</html>