<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 
<head>
    <title>Botones Agregar</title>
    <meta charset='UTF-8'/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- A D  M I N I S T R A T O R S-->
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3" sec:authorize="hasRole('ROLE_TUTOR')">
                    <a href="#" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarTutor">
                        <i class="fas fa-plus">[[#{accion.agregar}+' '+'Tutor']]</i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>