<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--como se va a llamar thymeleaf-->

<head th:replace="layout/plantilla :: head">
    <meta charset='UTF-8'>+
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
</head>

<body>
    <!--USERS X-->
    <div>
        <div class="form-group">
            <input type="text" name="username" id="username" />
        </div>
        
    </div>
    <!--TUTORS-->

    <header th:replace="layout/plantilla :: header"></header>

    <!--TUTORS-->
    <div sec:authorize="hasRole('ROLE_TUTOR')">
        <section th:replace="tutors/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="tutors/agregarPupil :: agregarPupil"></section>
        <section th:replace="tutors/listadoPupils :: listadoPupils"></section>
    </div>

    <!--ADMINISTRATORS-->
    <div sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
        <section th:replace="administrators/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="administrators/agregarAdministrator :: agregarAdministrator"></section>
        <section th:replace="administrators/listadoAdministradores :: listadoAdministradores"></section>
        <section th:replace="tutors/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="tutors/agregarTutor :: agregarTutor"></section>
        <section th:replace="tutors/listadoPupils :: listadoPupils"></section>
    </div>
    

    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>