<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/plantilla :: head}">
    <title>Login</title>
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}"></header>
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>    
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Login</h4>
                        </div>
                        <div class="card-body">
                            <div th:if="${param.error}">Invalid username and password.</div>
                            <div th:if="${param.logout}">You have been logged out.</div>
                            <form method="post" th:action="@{/login}">
                                <div class="form-group">
                                    <label for="username">Username: </label>
                                    <input type="text" name="username" id="username" />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password: </label>
                                    <input type="password" name="password" id="password" />
                                </div>
                                <input type="submit" value="Login" class="btn btn-primary btn-block" />
                            </form>
                            <section id="actions" class="py-4 mb-4 bg-light">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="registry.html" th:href="@{/registry}" class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.agregar}]]
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer th:replace ="~{layout/plantilla :: footer}"></footer>
</body>
</html>